$color-background: #ff7f5d;
$color-menu: #52aaca;
$color-item: #ffffff;
$color-link: #66bede;

$color-twitter: linear-gradient(to bottom, #70d3fa, #51c5f5);
$color-facebook: linear-gradient(to bottom, #4a86c0, #2d66a7);
$color-linkedin: linear-gradient(to bottom, #0897c3, #0082bc);
$color-instagram: linear-gradient(to bottom, #77af1b, #398929);
$color-youtube: linear-gradient(to bottom, #ec2d26, #d5271e);
$color-tumblr: linear-gradient(to bottom, #2f394b, #2a4c6b);
$color-dribbble: linear-gradient(to bottom, #ec4e6e, #f681a2);

$img-twitter: url(../../images/icons/twitter.svg);
$img-facebook: url(../../images/icons/facebook.svg);
$img-linkedin: url(../../images/icons/linkedin.svg);
$img-instagram: url(../../images/icons/instagram.svg);
$img-youtube: url(../../images/icons/youtube.svg);
$img-tumblr: url(../../images/icons/tumblr.svg);
$img-dribbble: url(../../images/icons/dribbble.svg);